.pt-20 {
  padding-top: 20px;
}

.button__main {
  margin-left: 1.875rem;
  color: $white;
  background-color: $blue;
  border: none !important;
  border-radius: 0;

  &:hover {
    background-color: $lightWhite;
    color: darkPink;
  }
}

.subtext {
  font-size: 18px;
  line-height: 27px;
  color: $lightBluishWhite;
}

.subhead {
  color: $white;
  font-size: 2rem;
  font-weight: $regular;
}
