# App port to run on
PORT=4000

# Node environment 
NODE_ENV=

# GitHub Auth Token
GITHUB_TOKEN=

# client hostname for cors
REACT_APP_HOSTNAME=''

# event date & time
EVENT_ON = '9:30am, 10th October'

# Registration Limit
REG_LIMIT=100

# Google Sheets ID
GSHEETS_ID=""

# Authentication Private Key
G_PKEY=""

# Authentication Client Email (the sheet is shared with this email)
G_C_EMAIL=""

# SMTP Email ID
MAIL_USER_ID=""

# Email Password
MAIL_USER_PWD=""

# Instagram ID
INSTAGRAM_URL=""